# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# 依赖
node_modules
app/node_modules

# ai coding config
.omx/

# docs
平台发布记录状态改造计划.md

# 开发过程
src/script/baijiahao-video-state-success.cjs
src/script/douyin-video-state-success.cjs
src/script/sohu-video-state-success.cjs
src/script/bilibili-video-state-success copy.cjs
